<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-clerk"
        version="1.0.0">

    <name>ClerkPlugin</name>
    <description>Cordova Android Plugin wrapping Clerk SDK with Shared Session Synchronization for OutSystems</description>
    <license>Apache-2.0</license>
    <keywords>cordova,clerk,authentication,outsystems,shared-session</keywords>

    <!-- JavaScript Bridge Definition -->
    <js-module src="www/clerk.js" name="ClerkPlugin">
        <clobbers target="cordova.plugins.clerk" />
        <clobbers target="window.clerk" />
    </js-module>

    <!-- Android Platform Configuration -->
    <platform name="android">
        <!-- Enable Native Kotlin Support for Cordova-Android 9+ and OutSystems MAB -->
        <preference name="GradlePluginKotlinEnabled" value="true" default="true" />
        <preference name="GradlePluginKotlinCodeStyle" value="official" default="official" />
        <preference name="GradlePluginKotlinVersion" value="1.9.20" default="1.9.20" />
        <preference name="android-minSdkVersion" value="28" default="28" />

        <!-- Register Native Plugin Feature in config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ClerkPlugin">
                <param name="android-package" value="com.outsystems.plugin.clerk.ClerkPlugin" />
            </feature>
        </config-file>

        <!-- Source File Mappings (Kotlin Native Execution) -->
        <source-file src="src/android/ClerkPlugin.kt" target-dir="src/main/kotlin" />
        <source-file src="src/android/ClerkBridge.kt" target-dir="src/main/kotlin" />

        <!-- OutSystems MAB Gradle Build Extras for Clerk Dependencies & Maven Repositories -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
